* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*rolagem suave da página*/
html{
    scroll-behavior: smooth;
}

:root {
    --cor-de-fundo: #215011;
    --cor-de-fundo2: #467536;
    --cor-de-fundo-tela: #e3e1de;
    --cor-texto1: #ffffff;
    --cor-texto2: #282828;
    --cor-texto3: black;
    --cor-titulo-secundario: #6f4405;
    --cor-titulo-rodape:#a0e67b;
}

body {
    background-color: var(--cor-de-fundo-tela);
}


/*ALTERAÇÃO -- TEMA CLARO E TEMA ESCURO*/

.invisib {
    /*Manter checkbox invisível*/
    display: none;
}

#darkmode:checked+main {
    /*Variáveis para o tema escuro - quando clicado*/ 
    --background-color: #111111;
    --background-color2: #0f0f0f;
    --cor-texto: #fff;
    --cor-texto2: #666666;
    background-color: var(--background-color);
    color: #215011;
    --cor-titulo-secundario: #215011;
}

.darklabel {
    /*Criando uma label vinculada ao checkbox da troca de tema*/ 
    color: #111111;
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    transition: 0.2s ease-in-out;

}

.darklabel:hover {
    /*Troca a cor da label para branco ao passar o mouse sobre ela*/
    color: #fff;
    text-shadow: 0 0 17px #fff;
}

.darklabel::after {
    /*Texto que ficará ao lado da label especificando a cor do tema*/
    content: " ESCURO";
}

#darkmode:checked+main .darklabel::after {
    /*Texto que ficará ao lado da label especificando a cor do tema*/
    content: " CLARO";
}

/*Edição do CABECAÇALHO*/
.cabecalho {
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto1);
}

.logo {
    width: 100px;
}

.cabecalho-div {
    display: flex;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 15px;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: var(--cor-texto);

}

/* menu de navegação */
.cabecalho-lista {
    /*lista não ordenada chamada "menu"*/
    display: flex;
}

.cabecalho-lista, .cabecalho-lista-item {
    /*Colocando espaçamento nos elementos do menu superior*/
    list-style: none;
    margin: 0 20px;
    padding: 17px 0;
    white-space: nowrap;
}

/* botão menu mobile */

#botao-menu {
    display: none;
    position: relative;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    margin-right: auto;
    background-color: transparent;
    border: none;
}

#botao-menu img {
    position: relative;
    width: 200%;
    height: 200%;
}

#mobile:checked ~ #menu-mobile {
    left: 0;
}

/* menu mobile */

#menu-mobile {
    list-style: none;
    display: none;
    position: absolute;
    top: 115px;
    left: -80%;
    width: 50%;
    padding: 12px 18px;
    background-color: var(--cor-de-fundo);
    backdrop-filter: blur(6px);
    border-end-end-radius: 20px;
    transition: 0.3s ease-in-out;
}

#menu-mobile li {
    display: block;
    white-space: nowrap;
    padding: 6px 0;
    transition: 0.3s ease-in-out;
}

#menu-mobile li:hover {
    transform: translateX(6px);
}

#menu-mobile a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: 0.1s ease-in-out;
}

#menu-mobile li a:hover {
    color: #111111;
}






















/*Muda a cor quando passa o mouse sobre a palavra*/
.link:hover {
    color: #1dfa2f;
}

/*Edição do Titulo principal*/
#titulo-principal {
    font-size: 38px;
    padding: 24px;
    margin: 20px;
    line-height: 50px;
}

/*programação da coloração linear do titulo principal*/
.titulo-principal-linear{
    background-image: linear-gradient(to right, #426145, #0c2b02);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Edição dos titulos secundários*/
.titulo-secundario {
    font-size: 36px;
    color: var(--cor-titulo-secundario);
    margin: 48px;
}

/*Edição dos textos*/
.texto {
    font-size: 20px;
    color: var(--cor-texto2);
    margin: 48px;
    line-height: 30px;
}

/*Edição de palavras DESTACADAS no meio do texto*/
.destaque{
    color: var(--cor-de-fundo);
    font-weight: 700;
}

/*Edição da Seção OBJETIVO*/
.objetivo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px 0 0;
    text-align: justify;
}

.imagem-agriprecisao {
    width: 400px;
}

 /*Edição das imagens laterais*/
figure {
    top: 100%;
    left: 10px;
    z-index: -1; 
}

figure img {
    opacity: 0;
    max-height: 150px;
   
    transition: 0.6s ease-out;
    animation: float 3s infinite ease-in-out;
  
}

figure .selecao {
    opacity: 1;
}

.figure-div{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.planta-imagem{
    width: 160px;
}
.dinheiro-imagem{
    width: 120px;    
}
.trator-imagem{
    width: 180px;    
}
.drone-imagem{
    width: 250px;    
}





/*Edição da Seção VANTAGENS*/
.vantagens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px 0 0;
    text-align: center;
}

.imagem-vantagens {
    width: 300px;
    padding: 0 15%;
}

/*Edição da Seção DESVANTAGENS*/

.desvantagens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px 0 0;
    text-align: center;
}

.imagem-desvantagem-div {
   padding: 15px 45px;
}

.imagem-desvantagem{
    width: 300px;
    padding: 30px 0;
}




/*Edição da Seção IDEIA PRINCIPAL*/
.texto-item-div {
    font-size: 20px;
    color: var(--cor-texto2);
    line-height: 35px;
    text-align: center;
}

.titulo-itens{
    font-size: 30px;
    font-style: italic;
}

.titulo-itens span{
    color: #215011;
    font-size: 50px; 
}

.texto-ideiaPrincipal{
    text-align: justify;
}

.imagens-itens-ideias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagem-lampada{
    width: 120px; 
}

.imagem-tecnologias{
    width: 300px;
}

/*Edição do BOTÃO*/
.ideia button {
    padding: 10px 20px;
    margin: 0 40px;
    margin-top: 5px;
    background-color: var(--cor-de-fundo2);
    color: var(--cor-texto1);
    font-size: 20px;
    border: none;
    border-radius: 60px;
    box-shadow: 0 5px 0 var(--cor-de-fundo);
    cursor: pointer;}

.ideia button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 0 var(--cor-de-fundo);
    text-shadow: 0 0 15px #fff;
    transition: 0.3s ease-in-out;
}

.ideia button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 var(--cor-de-fundo);
    transition: 0s;
}



/*Edição da Seção CONCLUSÃO*/

.conclusao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px 0 0;
    text-align: center;
}

.imagem-conclusao-div {
   padding: 15px 45px;
}

.imagem-conclusao{
    width: 350px;
    padding: 30px 0;
}








/*rodapé*/
footer {
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    text-align: center;
    align-items: center;
    left: 0;
    width: 100%;
    display: flex;
    transition: 0.3s ease-in-out;
}

.rodape-texto {
    font-size: 42px;
}

.logo-rodape{
    width: 200px;
}

.whatsApp-logo, .instagram-logo, .email-logo {
    width: 4%; 
}



 /*Divs do rodapé*/
footer div {
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
 /*movimento sobre e desce*/
footer div:hover {
    transform: translateY(-15px);
}

/* tira as bolinhas dos itens*/
footer div ul {
    list-style: none;
}

footer div li {
    margin-bottom: 6px;
}

/*altera cor dos titulos*/
footer div h3 {
    color: var(--cor-titulo-rodape);
    margin-bottom: 10px;
}

/*muda a cor, tira sublinhado, coloca negrito*/
footer div a {
    position: relative;
    text-decoration: none;
    color: var(--cor-texto3);
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

/*coloca sombra no texto quando passa o mouse*/
footer div a:hover {
    color: var(--cor-texto3);
    text-shadow: 0 0 20px #e9ed09;
}

/*conteúdo decorativo hífem antes das palavras*/
footer div a:hover::before {
    opacity: 1;
    position: absolute;
    left: -10px;
    color: var(--cor-texto3);
    transition: 0.3s ease-in-out;
}



/*RESPONSIVIDADE ----  ainda precisa de ajustes*/

/*Ajustes para quando passa de 1500px*/

@media screen and (min-width: 1500px) {
   
    footer div {
        background-color: transparent;
    }
    footer div:hover {
        transform: translateY(0px);
    }
 
}

/*Ajustes 1200px*/

@media screen and (max-width: 1200px) {
   
    footer div {
        background-color: transparent;
    }
    footer div:hover {
        transform: translateY(0px);
    }
    .cabecalho-lista-item {
        display: inline-block;
        margin: 15px;
        font-size: 16px;
    }

    .darklabel {
        font-size: 16px;
    }
}

/*Tablet*/

@media screen and (max-width: 959px) {
    /*oculta a imagem flutuante*/
  
    .planta-imagem, 
    .dinheiro-imagem, 
    .trator-imagem, 
    .drone-imagem{
        display: none;
    }

    .imagem-conclusao, 
    .imagem-tecnologias, 
    .imagem-lampada, 
    .imagem-desvantagem, 
    .imagem-vantagens, 
    .figure-div {
        display: none;
    }

    footer div {
        width: 90%;
    }

    #botao-menu {
        display: inline;
      
    }
    .logo {
        margin-right: 0;
    }
   
    #menu-cabecalho {
        display: none;
    }

    #menu-mobile {
        display: inline;
    }

    .darklabel {
        font-size: 16px;
    }
    
    .container {
        max-width: 100%;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .container h2 {
        font-size: 32px;
    }
    

  
}

/*Celular*/

@media screen and (max-width: 767px) {
    /*muda a posição do footer para colunas*/
  
    .cabecalho{
        padding: 0;
        margin: 0;
    }

    #titulo-principal{
        font-size: 24px;
    }
    
    .button {
        padding: 6px 12px;
        font-size: 18px;   
    }

    footer {
        flex-direction: column;
        padding-top: 30px;
        }

    footer div {
        width: 80%;
    }

    .imagem-conclusao, 
    .imagem-tecnologias, 
    .imagem-lampada, 
    .imagem-desvantagem, 
    .imagem-vantagens, 
    .figure-div {
      display: none;
    }

    .container{
        width: 80%;
        font-size: 18px;
        padding: 0;
        margin: 0;
        padding-right: 0;
        margin-right: 0;
    }

    
}




/*Ajustes 500px*/

@media screen and (max-width: 500px) {
    .darklabel::after {
        display: block;
    }
}
















